.form {
    display: flex;
    justify-content: space-between;
}

.form__input {    
    border: 2px solid #f2f2f2;
    width: 82%;
}

.form__button {
    border: none;
    background-color: hsl(180, 100%, 25%);
    color: #fff;
    font-weight: 700;
    padding: 10px 20px;
    cursor: pointer;
    transition: 1.5s all;
}

.form__button:hover {
    transform: scale(1.1);
    background-color: hsl(180, 100%, 35%);
}